.dashboard-main {
    padding: 50px 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: var(--color-light);
}

.dashboard-main h1 {
    font-size: 30px;
}

.dashboard-main .all-courses {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.dashboard-main .all-courses .card-container {
    width: 400px;
    height: 550px;
    background-color: var(--color-white);
}

.log-out {
    width: 100%;
    display: flex;
    background-color: var(--color-light);
    padding: 10px 40px;
    justify-content: end;
    align-items: center;
}

.log-out button {
    padding: 10px 30px;
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    background-color: var(--color-white);
}

.log-out button:hover {
    background-color: var(--color-teal);
    color: var(--color-white);
    cursor: pointer;
}
