.team {
    padding: 100px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.team .items {
    width: 300px;
    height: 400px;
    background-color: var(--color-white);
    padding: 20px 50px;
}

.team .img {
    position: relative;
}
.team img {
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    bottom: 0;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.overlay i {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    margin: 5px;
}
.team .details {
    padding: 30px;
    text-align: center;
}
.team .details h2 {
    font-weight: 500;
    font-size: 20px;
    transition: 0.5s;
}
.team .details p {
    font-size: 15px;
    color: grey;
    margin-top: 10px;
    transition: 0.5s;
}
.team .items:hover {
    background-color: #1eb2a6;
    color: #fff;
    cursor: pointer;
}
.team .items:hover p {
    color: #fff;
}
.team .items:hover .overlay {
    opacity: 1;
}
